@CHARSET "UTF-8";

body {
    font-family: sans-serif;	
}

.zf-ajax-validate-error {
	color: red;
	font-weight: bold;
	font-size: 90%;
}

.zf-ajax-validate-ok {
	color: lime;
	font-weight: bold;
	font-size: 60%;
}